# Lambda functions

In [3]:
greater=lambda n1,n2:n1 if n1>n2 else n2
greater(100,67)

100

In [4]:
#map function in lambda
number=list(range(1,21))

In [5]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
squares=list(map(lambda x:x**2,number))

In [7]:
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [23]:
A=list(map(lambda X:X+10,number))

In [15]:
A

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [16]:
#filter function in lambda

numlist=list(range(1,11))
B=list(filter(lambda x:x%3==0,numlist))

In [17]:
numlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
B

[3, 6, 9]

In [19]:
#reduce
from functools import reduce
reduce(lambda x,y:x*y,numlist)          #factorial of a number

3628800

In [20]:
from functools import reduce
reduce(lambda x,y:x if x<y else y,numlist)            #minimum in a list

1

###user defined functions

In [2]:
def greet():                  #def keyword is used to dfine a function
    print("hello")
                                    #function sholud not be a keyword

In [3]:
greet()

hello

In [7]:
def gretings(name):
    name=input("enter your name:")
    print("hello",name,"welcome to the show")
    
gretings(name)

enter your name:kousi
hello kousi welcome to the show

In [8]:
def mul(num1):
    return(num1*10)
mul(5)

50

In [11]:
def mul(n1,n2):
    multiply=n1*n2
    return                            #returns none
mul(3,4)

In [13]:
def expo(n):
    exponent=n**n
    return exponent                  #assigning to an variable
new_assignment=expo(5)
print(new_assignment)

3125

#required arguments

In [14]:
def news(new1,new2):
    print("first news:",new1)
    print("second news:",new2)
new1="important news....!"
new2="less imprt news:)"
news(new2,new1)                   #call the values in cporrect position order

first news: less imprt news:)
second news: important news....!

In [15]:
def news(new1,new2):
    print("first news:",new1)
    print("second news:",new2)
new1="important news....!"
new2="less imprt news:)"
news()                                 #will throw an error ------->arguments are required

TypeError: news() missing 2 required positional arguments: 'new1' and 'new2'

In [16]:
def mul():
    multiply=n1*n2
    return                            #throws an error ->it does not requires an argument
mul(3,4)

TypeError: mul() takes 0 positional arguments but 2 were given

#keyword arguments

In [22]:
def keyword(name,age):
    print("name=",name)
    print("\n", "age=",age)
keyword(name="kailash",age=34)
keyword(age=34,name="kailash")

name= kailash

 age= 34
name= kailash

 age= 34

#default arguments

In [23]:
#defining a function with default arguments
def default_values(room_no,hostel="kani hostel"):
    print(room_no,hostel)
default_values(108)

108 kani hostel

#variable length arguments

In [27]:
def numbers(*anynum):    #takes any num er f arguments
    i=0
    for i in anynum:
        i*=2
        print("Even numbers=",i)
numbers(3,4,5,6,7)

Even numbers= 6
Even numbers= 8
Even numbers= 10
Even numbers= 12
Even numbers= 14

In [38]:
def ds(**new_dict):
    for n1, n2 in new_dict.items():
        print(n1,"is",n2)
ds(first_name="jack",sal="20200")

first_name is jack
sal is 20200