#list comprehension

#provides a concise way to create  a list  from another iterable
#output is always a list
#it is possible to use conditions and loops in a list comprehension
#syntax--->[output for i in list if condition]

In [2]:
square=[i*i for i in range(1,9)]
square

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
elements=[1,2,3,73.4]
A=[i*2 for i in elements ]
A

[2, 4, 6, 146.8]

In [6]:
#getting first letter 
new_list=['apple','orange','cat','ball']
f_letter=[f[0] for f in new_list]
f_letter

['a', 'o', 'c', 'b']

In [7]:
new_list=['apple','orange','cat','ball']
f_letter=[f[0:2] for f in new_list]
f_letter

['ap', 'or', 'ca', 'ba']

In [8]:
#reversing every elements in a list
new_list=['apple','orange','cat','ball']
f_letter=[f[::-1] for f in new_list]
f_letter

['elppa', 'egnaro', 'tac', 'llab']

In [1]:
txt="I am 20 years old.studying 3 rd year!"
number=[int(i) for i in txt.split() if i.isdigit()==True]
number

[20, 3]

In [2]:
#printing all vowels in a string
sentence="this is a brand new car"
result=[i for i in sentence if i in 'aeiouAEUIO']
result

['i', 'i', 'a', 'a', 'e', 'a']

In [8]:
#printing consonents

result=[i for i in sentence if i not in 'aeiouAEUIO']
result

['t',
 'h',
 's',
 ' ',
 's',
 ' ',
 ' ',
 'b',
 'r',
 'n',
 'd',
 ' ',
 'n',
 'w',
 ' ',
 'c',
 'r']

In [10]:
#if else condition in list comprehension
strings=['lemon','honey','sugar']
lst=[25 if s=='lemon' else 35 if s=='sugar' else 10 for s in strings]
lst

[25, 10, 35]

In [12]:
long=[v[0:4] for v in strings]
long

['lemo', 'hone', 'suga']

In [21]:
#strings in a list that are longer than 9
lst_new=['education','cocurricular','happiness','weird']
long=[x for x in lst_new if len(x)>9]
long

['cocurricular']